{% extends 'registration/main.html'  %}

{% block title  %}
     {{ title }}
{% endblock %}

{% block body  %}

<body class="bg-light">
    <div class="container">

    <h3 style="color:#535556">Petty Cash user’s registration page</h3>

    <div class="col-md-8 order-md-1">
       {% if message %}
        <ul class=flashes>
          <li><h3 style="color:#dbff6d">{{ form.message }}</h3></li>
        </ul>
      {% endif %}
      <form method="post" class="needs-validation" style="color:#535556">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="{{ form.first_name.id_for_label }}">Name</label>
            <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" name="first_name" placeholder="Name" value="{{ user.first_name }}" required="">
            <div class="invalid-feedback">
              {{ form.first_name.errors }}
              Add name
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="{{ form.last_name.id_for_label }}">Last name</label>
            <input type="text" class="form-control" id="{{ form.last_name.id_for_label }}" name="last_name" value="{{ user.last_name }}" placeholder="Last name"  required="">
            <div class="invalid-feedback">
               {{ form.last_name.errors }}
              Add Last name
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
          <label for="{{ form.email.id_for_label }}">Email <span class="text-muted"></span></label>
          <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="email" value="{{ user.email }}" placeholder="you@example.com" required="">
          <div class="invalid-feedback">
            {{ form.email.errors }}
            Add email
          </div>

          </div>
          <div class="col-md-6 mb-3">
          <label for="{{ form.code.id_for_label }}">Verification code</label>
          <input type="number" class="form-control" id="{{ form.code.id_for_label }}" name="code" value="" placeholder="Enter the verification code" required="">
          <div class="invalid-feedback">
            {{ form.code.errors }}
            Add verification code
          </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="{{ form.mobile.id_for_label }}">Mobile</label>
            <input type="text" class="form-control" id="{{ form.mobile.id_for_label }}" name="mobile" value="{{ user.mobile }}" placeholder="+38099234567" required="">
            <div class="invalid-feedback">
              {{ form.mobile.errors }}
              Add Mobile
            </div>
          </div>
         <div class="col-md-6 mb-3">
          <label for="date_of_birth">Position</label>
          <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" value="" placeholder="Position" required="">
          <div class="invalid-feedback">
            Add Position
          </div>
        </div>

        </div>

        <div class="d-block my-3">
           <label for="{{ form.password1.id_for_label }}">Your password</label>
          <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="password1" placeholder="Add password" required="">
          <br>
          <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="password2" placeholder="Repeat the password" required="">
          <div class="invalid-feedback">
            {{ form.password1.errors }}
            {{ form.password2.errors }}
            Please enter the same password
          </div>
        </div>
          <p>
            <a>
              <button  formmethod="post" class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
            </a>
          </p>

      </form>{% csrf_token %}
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2021-2021 Easy Control</p>

  </footer>

</body>

{% endblock %}
