{% extends 'registration/main.html'  %}

{% block title  %}
     {{ title }}

{% endblock %}

{% block body  %}
<div class="container">
    <table class="table table thead-light th table-bordered table-sm">
        <thead>
            <tr bgcolor="#AFEEEE" style="color:#535556">
                  <th>Requestor</th>
                  <th>Description</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Status</th>
                  <th>Issue date</th>
                  <th>Close date</th>
                  <th>Currency</th>
                  <th>Balance {{ balance.balance }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in transaction %}
                <tr bgcolor="#70ffb5" style="color:  #a2a5a4 ">
                    <td><li class="list-inline-item"><a href="{% url 'user_detail' %}">{{ item.user_id.email }} | {{ item.user_id.last_name }}</a></li></td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.debit }}</td>
                    <td>{{ item.credit }}</td>
                    {% if item.status == 'AC' %}
                    <td>Active</td>
                    {% elif item.status == 'US' %}
                    <td>Unsuccessful</td>
                    {% elif item.status == 'P' %}
                    <td>Payed</td>
                    {% else %}
                    <td>{{ item.status }}</td>
                    {% endif %}
                    <td>{{ item.created_at }}</td>
                    {% if not item.date_of_close%}
                    <td>No confirmed</td>
                    {% else %}
                    <td>{{ item.date_of_close }}</td>
                    {% endif %}
                    <td><li class="list-inline-item"><a href="{% url 'cash_register' item.cash_register_id.id %}">{{ item.cash_register_id.name }} | {{ item.cash_register_id.currency_id.code }}</a></li></td>

                    {% if btn and item.status != "P" %}
                    <td> <form id="click-green" action="{% url 'transaction_confirm' %}">{% csrf_token %}<input type="hidden" name="pk" value="{{ item.id }}"><div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-danger">Delete</button>
                      <button type="button" class="btn btn-warning">Edit</button>
                      <button type="button" class="btn btn-success">Confirm</button>
                    </div></form>{% csrf_token %}</td>
                    {% elif btn and item.status != "P" %}
                    <td> <form id="click-green2" action="{% url 'transaction_confirm' %}">{% csrf_token %}<input type="hidden" name="pk" value="{{ item.id }}"><div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-danger">Delete</button>
                      <button type="button" class="btn btn-warning">Edit</button>
                      <button type="button" class="btn btn-success">Confirm</button>
                    </div></form>{% csrf_token %}</td>
                    {% elif not btn and item.status != "Payed" %}
                    <td> <form id="click-red" action="{% url 'transaction_confirm' %}">{% csrf_token %}<input type="hidden" name="pk" value="{{ item.id }}"><button formmethod="get" class="btn btn-primary"  type="submit">Confirm</button></form>{% csrf_token %}</td>
                    {% elif item.status == 'US' %}
                    <td>Unsuccessful</td>
                    {% else %}
                    <td>Confirmed</td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
     </table>
    <div class="pagination page-link">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
